In [87]:
import numpy as np
import pandas as pd

In [88]:
df = pd.read_csv('data0906.csv')

In [89]:
df.shape

(13753, 12)

In [90]:
df.head(30)

,VALUE DATE,STOCK CODE,EVAL MID YIELD,COMPOSITE LIQUIDITY SCORE (T-1),COUPON FREQUENCY,NEXT COUPON RATE,CALLABLE/PUTTABLE,MODIFIED DURATION,EVAL MID PRICE,REMAINING TENURE,OUTPUT PRICE,RATING TARGET
0,1/8/2019,DJ140003,3.772,0.0,2,5.17,0,1.299,101.832,24,101.864,107.247835
1,1/9/2019,DJ140003,3.650,0.0,2,5.17,0,1.211,101.864,24,101.827,107.247835
2,1/10/2019,DJ140003,3.587,0.0,2,5.17,0,1.136,101.827,24,101.688,107.247835
3,1/11/2019,DJ140003,3.599,0.0,2,5.17,0,1.052,101.688,24,101.592,107.247835
4,1/12/2019,DJ140003,3.571,0.0,2,5.17,0,0.969,101.592,12,101.504,107.247835
5,1/1/2020,DJ140003,3.526,0.0,2,5.17,0,0.911,101.504,12,101.491,107.247835
6,1/2/2020,DJ140003,3.375,3.0,2,5.17,0,0.826,101.491,12,101.508,107.247835
7,1/3/2020,DJ140003,3.179,2.7,2,5.17,0,0.751,101.508,12,101.310,107.247835
8,1/4/2020,DJ140003,3.237,2.7,2,5.17,0,0.670,101.310,12,101.236,107.247835
9,1/5/2020,DJ140003,3.079,2.3,2,5.17,0,0.581,101.236,12,101.221,107.247835
10,1/6/2020,DJ140003,2.814,2.3,2,5.17,0,0.506,101.221,6,101.027,107.247835
11,1/7/2020,DJ140003,2.826,2.3,2,5.17,0,0.440,101.027,6,100.916,107.247835
12,1/8/2020,DJ140003,2.547,0.0,2,5.17,0,0.352,100.916,6,100.733,107.247835
13,1/9/2020,DJ140003,2.460,0.0,2,5.17,0,0.273,100.733,3,100.511,107.247835
14,1/10/2020,DJ140003,2.471,0.0,2,5.17,0,0.192,100.511,3,100.296,107.247835
15,1/8/2019,DJ140039,3.685,0.0,2,5.12,0,0.835,101.203,12,101.152,107.247835
16,1/9/2019,DJ140039,3.587,0.0,2,5.12,0,0.747,101.152,12,101.093,107.247835
17,1/10/2019,DJ140039,3.509,0.0,2,5.12,0,0.672,101.093,12,100.942,107.247835
18,1/11/2019,DJ140039,3.541,0.0,2,5.12,0,0.588,100.942,12,100.834,107.247835
19,1/12/2019,DJ140039,3.504,0.0,2,5.12,0,0.505,100.834,6,100.719,107.247835
20,1/1/2020,DJ140039,3.460,0.0,2,5.12,0,0.436,100.719,6,100.625,107.247835
21,1/2/2020,DJ140039,3.313,0.0,2,5.12,0,0.351,100.625,6,100.543,107.247835
22,1/3/2020,DJ140039,3.114,0.0,2,5.12,0,0.276,100.543,3,100.385,107.247835
23,1/4/2020,DJ140039,3.097,0.0,2,5.12,0,0.195,100.385,3,100.223,107.247835
24,1/5/2020,DJ140039,2.940,0.0,2,5.12,0,0.105,100.223,3,100.068,107.247835
25,1/8/2019,DK140037,3.857,0.0,2,5.28,0,2.192,103.172,36,103.424,107.247835
26,1/9/2019,DK140037,3.689,0.0,2,5.28,0,2.106,103.424,36,103.353,107.247835
27,1/10/2019,DK140037,3.670,0.0,2,5.28,0,2.031,103.353,36,103.248,107.247835
28,1/11/2019,DK140037,3.661,0.0,2,5.28,0,1.947,103.248,36,103.176,107.247835
29,1/12/2019,DK140037,3.635,0.0,2,5.28,0,1.864,103.176,24,103.082,107.247835

In [91]:
df['VALUE DATE']= pd.to_datetime(df['VALUE DATE'],format='%d/%m/%Y')

In [92]:
df_opr = pd.read_excel('OPR rate.xlsx')

In [93]:
df_opr

         Date  OPR level
0  2019-08-01       3.00
1  2019-09-01       3.00
2  2019-10-01       3.00
3  2019-11-01       3.00
4  2019-12-01       3.00
5  2020-01-01       2.75
6  2020-02-01       2.75
7  2020-03-01       2.75
8  2020-04-01       2.50
9  2020-05-01       2.50
10 2020-06-01       2.00
11 2020-07-01       2.00
12 2020-08-01       1.75
13 2020-09-01       1.75
14 2020-10-01       1.75
15 2020-11-01       1.75
16 2020-12-01       1.75

In [94]:
df_opr['VALUE DATE']= pd.to_datetime(df_opr['Date'],format='%d/%m/%Y')
df_opr.drop('Date',axis=1,inplace=True)

In [95]:
df_opr

    OPR level VALUE DATE
0        3.00 2019-08-01
1        3.00 2019-09-01
2        3.00 2019-10-01
3        3.00 2019-11-01
4        3.00 2019-12-01
5        2.75 2020-01-01
6        2.75 2020-02-01
7        2.75 2020-03-01
8        2.50 2020-04-01
9        2.50 2020-05-01
10       2.00 2020-06-01
11       2.00 2020-07-01
12       1.75 2020-08-01
13       1.75 2020-09-01
14       1.75 2020-10-01
15       1.75 2020-11-01
16       1.75 2020-12-01

In [96]:
df = df.merge(df_opr,on='VALUE DATE')

In [97]:
df.shape

(13753, 13)

In [98]:
df.head(30)

,VALUE DATE,STOCK CODE,EVAL MID YIELD,COMPOSITE LIQUIDITY SCORE (T-1),COUPON FREQUENCY,NEXT COUPON RATE,CALLABLE/PUTTABLE,MODIFIED DURATION,EVAL MID PRICE,REMAINING TENURE,OUTPUT PRICE,RATING TARGET,OPR level
0,2019-08-01,DJ140003,3.772,0.0,2,5.17,0,1.299,101.832,24,101.864,107.247835,3.0
1,2019-08-01,DJ140039,3.685,0.0,2,5.12,0,0.835,101.203,12,101.152,107.247835,3.0
2,2019-08-01,DK140037,3.857,0.0,2,5.28,0,2.192,103.172,36,103.424,107.247835,3.0
3,2019-08-01,DK140038,3.817,0.0,2,5.23,0,1.753,102.509,24,102.646,107.247835,3.0
4,2019-08-01,DL140035,3.924,0.0,2,5.39,0,3.047,104.572,60,105.023,107.247835,3.0
5,2019-08-01,DL140036,3.899,2.7,2,5.34,0,2.622,103.856,36,104.222,107.247835,3.0
6,2019-08-01,DM140033,3.964,0.0,2,5.49,0,3.851,106.054,60,106.772,107.247835,3.0
7,2019-08-01,DM140034,3.949,0.0,2,5.44,0,3.454,105.288,60,105.870,107.247835,3.0
8,2019-08-01,DN100015,3.625,2.7,2,5.54,0,0.924,101.777,12,101.695,105.704279,3.0
9,2019-08-01,DN140031,3.993,0.0,2,5.59,0,4.611,107.636,84,108.623,107.247835,3.0
10,2019-08-01,DN140032,3.980,0.0,2,5.54,0,4.236,106.830,60,107.691,107.247835,3.0
11,2019-08-01,DO140029,4.048,0.0,2,5.69,0,5.329,109.125,84,110.360,107.247835,3.0
12,2019-08-01,DO140030,4.018,0.0,2,5.64,0,4.976,108.393,84,109.499,107.247835,3.0
13,2019-08-01,DP080045,3.644,0.0,2,5.95,0,0.488,101.126,6,100.945,104.468667,3.0
14,2019-08-01,DP140005,4.110,0.0,2,5.78,0,6.004,110.508,120,111.936,107.247835,3.0
15,2019-08-01,DP140028,4.082,0.0,2,5.73,0,5.673,109.772,84,111.120,107.247835,3.0
16,2019-08-01,DQ080044,3.831,0.0,2,6.05,0,1.422,103.188,24,103.175,104.468667,3.0
17,2019-08-01,DQ140004,4.138,0.0,2,5.82,0,6.329,111.183,120,112.685,107.247835,3.0
18,2019-08-01,DQ140027,4.161,0.0,2,5.87,0,6.641,111.954,120,113.513,107.247835,3.0
19,2019-08-01,DR080043,3.950,0.0,2,6.15,0,2.311,105.183,36,105.408,104.468667,3.0
20,2019-08-01,DR140025,4.215,2.0,2,5.96,0,7.250,113.379,120,115.078,107.247835,3.0
21,2019-08-01,DR140026,4.186,0.0,2,5.92,0,6.952,112.724,120,114.352,107.247835,3.0
22,2019-08-01,DS052767,3.936,0.0,2,6.30,0,1.336,103.200,24,103.195,101.532290,3.0
23,2019-08-01,DS140023,4.247,0.0,2,6.05,0,7.821,114.983,180,116.609,107.247835,3.0
24,2019-08-01,DS140024,4.230,0.0,2,6.01,0,7.538,114.227,120,115.900,107.247835,3.0
25,2019-08-01,DT140021,4.282,2.7,2,6.15,0,8.356,116.662,180,118.210,107.247835,3.0
26,2019-08-01,DT140022,4.265,0.0,2,6.10,0,8.092,115.815,180,117.412,107.247835,3.0
27,2019-08-01,DU140011,4.323,0.0,2,6.24,0,8.862,118.204,180,119.623,107.247835,3.0
28,2019-08-01,DU140012,4.301,0.0,2,6.19,0,8.614,117.403,180,118.881,107.247835,3.0
29,2019-08-01,DV140009,4.366,0.0,2,6.33,0,9.332,119.713,180,121.238,107.247835,3.0

In [99]:
df.sort_values(['STOCK CODE','VALUE DATE'])

,VALUE DATE,STOCK CODE,EVAL MID YIELD,COMPOSITE LIQUIDITY SCORE (T-1),COUPON FREQUENCY,NEXT COUPON RATE,CALLABLE/PUTTABLE,MODIFIED DURATION,EVAL MID PRICE,REMAINING TENURE,OUTPUT PRICE,RATING TARGET,OPR level
0,2019-08-01,DJ140003,3.772,0.0,2,5.17,0,1.299,101.832,24,101.864,107.247835,3.00
874,2019-09-01,DJ140003,3.650,0.0,2,5.17,0,1.211,101.864,24,101.827,107.247835,3.00
1766,2019-10-01,DJ140003,3.587,0.0,2,5.17,0,1.136,101.827,24,101.688,107.247835,3.00
2663,2019-11-01,DJ140003,3.599,0.0,2,5.17,0,1.052,101.688,24,101.592,107.247835,3.00
3594,2019-12-01,DJ140003,3.571,0.0,2,5.17,0,0.969,101.592,12,101.504,107.247835,3.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10180,2020-06-01,VZ180148,4.361,3.7,2,6.35,1,6.256,113.145,300,113.056,102.959209,2.00
11093,2020-07-01,VZ180148,4.357,3.7,2,6.35,1,6.176,113.056,300,113.559,102.959209,2.00
11988,2020-08-01,VZ180148,4.267,3.3,2,6.35,1,6.095,113.559,300,113.672,102.959209,1.75
12876,2020-09-01,VZ180148,4.234,2.7,2,6.35,1,6.020,113.672,300,113.807,102.959209,1.75
13752,2020-10-01,VZ180148,4.197,2.3,2,6.35,1,5.943,113.807,300,113.920,102.959209,1.75

In [100]:
df[df['VALUE DATE']<'7/1/2020'].head(20)

,VALUE DATE,STOCK CODE,EVAL MID YIELD,COMPOSITE LIQUIDITY SCORE (T-1),COUPON FREQUENCY,NEXT COUPON RATE,CALLABLE/PUTTABLE,MODIFIED DURATION,EVAL MID PRICE,REMAINING TENURE,OUTPUT PRICE,RATING TARGET,OPR level
0,2019-08-01,DJ140003,3.772,0.0,2,5.17,0,1.299,101.832,24,101.864,107.247835,3.0
1,2019-08-01,DJ140039,3.685,0.0,2,5.12,0,0.835,101.203,12,101.152,107.247835,3.0
2,2019-08-01,DK140037,3.857,0.0,2,5.28,0,2.192,103.172,36,103.424,107.247835,3.0
3,2019-08-01,DK140038,3.817,0.0,2,5.23,0,1.753,102.509,24,102.646,107.247835,3.0
4,2019-08-01,DL140035,3.924,0.0,2,5.39,0,3.047,104.572,60,105.023,107.247835,3.0
5,2019-08-01,DL140036,3.899,2.7,2,5.34,0,2.622,103.856,36,104.222,107.247835,3.0
6,2019-08-01,DM140033,3.964,0.0,2,5.49,0,3.851,106.054,60,106.772,107.247835,3.0
7,2019-08-01,DM140034,3.949,0.0,2,5.44,0,3.454,105.288,60,105.870,107.247835,3.0
8,2019-08-01,DN100015,3.625,2.7,2,5.54,0,0.924,101.777,12,101.695,105.704279,3.0
9,2019-08-01,DN140031,3.993,0.0,2,5.59,0,4.611,107.636,84,108.623,107.247835,3.0
10,2019-08-01,DN140032,3.980,0.0,2,5.54,0,4.236,106.830,60,107.691,107.247835,3.0
11,2019-08-01,DO140029,4.048,0.0,2,5.69,0,5.329,109.125,84,110.360,107.247835,3.0
12,2019-08-01,DO140030,4.018,0.0,2,5.64,0,4.976,108.393,84,109.499,107.247835,3.0
13,2019-08-01,DP080045,3.644,0.0,2,5.95,0,0.488,101.126,6,100.945,104.468667,3.0
14,2019-08-01,DP140005,4.110,0.0,2,5.78,0,6.004,110.508,120,111.936,107.247835,3.0
15,2019-08-01,DP140028,4.082,0.0,2,5.73,0,5.673,109.772,84,111.120,107.247835,3.0
16,2019-08-01,DQ080044,3.831,0.0,2,6.05,0,1.422,103.188,24,103.175,104.468667,3.0
17,2019-08-01,DQ140004,4.138,0.0,2,5.82,0,6.329,111.183,120,112.685,107.247835,3.0
18,2019-08-01,DQ140027,4.161,0.0,2,5.87,0,6.641,111.954,120,113.513,107.247835,3.0
19,2019-08-01,DR080043,3.950,0.0,2,6.15,0,2.311,105.183,36,105.408,104.468667,3.0

In [109]:
train_set = df[df['VALUE DATE']<'7/1/2020']

In [110]:
test_set = df[df['VALUE DATE']>='7/1/2020']

In [111]:
train_set.shape,test_set.shape

((10181, 13), (3572, 13))

In [114]:
train_y = train_set['OUTPUT PRICE']

In [115]:
train_X = train_set.drop(['OUTPUT PRICE'],axis=1)

In [117]:
train_X.shape

(10181, 12)

In [118]:
test_y = test_set['OUTPUT PRICE']

In [119]:
test_X = test_set.drop(['OUTPUT PRICE'],axis=1)

In [120]:
train_X.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10181 entries, 0 to 10180
Data columns (total 12 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   VALUE DATE                       10181 non-null  datetime64[ns]
 1   STOCK CODE                       10181 non-null  object
 2   EVAL MID YIELD                   10181 non-null  float64
 3   COMPOSITE LIQUIDITY SCORE (T-1)  10181 non-null  float64
 4   COUPON FREQUENCY                 10181 non-null  int64
 5   NEXT COUPON RATE                 10181 non-null  float64
 6   CALLABLE/PUTTABLE                10181 non-null  int64
 7   MODIFIED DURATION                10181 non-null  float64
 8   EVAL MID PRICE                   10181 non-null  float64
 9   REMAINING TENURE                 10181 non-null  int64
 10  RATING TARGET                    10181 non-null  float64
 11  OPR level                        10181 non-null  float64
dtypes: datetime64[ns](1), float64(7), int64(3), object(1)
memory usage: 1.0+ MB